body {
	background-color: black
}
			
header {
	color: goldenrod;
	text-align: center;
}
			
footer{
	color: white;
}
			
p {
	color: white;
}
			
ul#menu {
	padding: 5px 5px;
}

ul#menu li {
	display: inline;
}

ul#menu li a {
	background-color: grey;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-width: 5px;
	border-style: ridge;
	border-color: goldenrod;
}	

ul#menu li a:hover {
	background-color: orange;
}